
.at{
    height: 60%;
    width: 50%;
}
#top, #top1, #top4{
    padding-bottom: 2%;
    padding-right: 5%;
}
.t1{
    height: 60%;
    width: 100%;

}
.t2{
    height: 60%;
    width: 100%;
}
.t3{
    height: 60%;
    width: 100%;
}
.t4{
    height: 60%;
    width: 100%;
}
.t5{
    height: 60%;
    width: 100%;
}
.t6{
    height:60%;
    width: 100%;
}
h1{
    margin-left: 200px;

}
.about{
    margin-left: 100px;
    margin-bottom: 50px;
    /* background-color: black;
    color: blanchedalmond; */
}
.about h2{
    margin-left: 150px;
    margin-top: 50px;
}
.instr{
    margin-left: 400px;
    margin-bottom: 50px;
}
.instr h3{
    margin-left: 90px;
}
.line4{
    top: 100px;
}
*{
    color: #F5F5DC;
    background-color: black;
    font-family:Courier New;
}
#top1 h6{
    margin-left: 70px;
}
#top1 p{
    margin-left: 50px;
}
#selection{
    margin-left: 200px;

}
.btn-primary{
    margin-left: 200px;
}

