#top, #top1{
    padding-bottom: 2%;
    padding-right: 5%;
}
.t1{
    height: 100%;
    width: 100%;

}
.t2{
    height: 100%;
    width: 100%;
}
.t3{
    height: 100%;
    width: 100%;
}
.t4{
    padding-top: 3%;
    height: 60%;
    width: 100%;
}
.t5{
    height: 60%;
    width: 100%;
}
.t6{
    height: 60%;
    width: 100%;
}
h1{
    color: brown;
    margin-left: 200px;
}
